%script{:type => "text/javascript"}
  $("a.tn01").removeClass("tnOn");
  $("a.tn02").removeClass("tnOn");
  $("a.tn03").removeClass("tnOn");
  $("a.tn04").addClass("tnOn");
  $("a.tn05").removeClass("tnOn");
  $("a.tn06").removeClass("tnOn");
  $("#subnavlist2").show();
  $("#subnavlist3").hide();
  $("#subnavlist4").hide();
  $("#subnavlist5").hide();
  $("#subnavlist6").hide();
  $("#subnavlist7").hide();
  $("a.sub01").removeClass("subOn");
  $("a.sub02").removeClass("subOn");
  $("a.sub03").removeClass("subOn");
  $("a.sub07").addClass("subOn");
  $('a[data-method="post"]').live('ajax:beforeSend', function() {$("#userdetail").hide();$("#loading1").show()});
- content_for :breadcrumbs do
 
  = breadcrumbs(["Studios Home", [:admin, Studio]]).html_safe
  = breadcrumbs("User Details").html_safe
  
%div{:id=>"loading1"}
  %div{:id=>"loading_inner"}
%table{:width=>"800px",:style=>"align:left;vertical-align: none;"}
  %tr
    %td{:width=>"300px",:style=>"padding:0em;vertical-align:none;"}
      .item{:style=>"width:300px;height:400px;overflow:scroll;vertical-align:none;"}
        %table.GridTable{:width=>"100%"}
          %tr
            %th Name
          - @users.each do |user|
            %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
              %td= link_to user.name,update_user_detail_admin_user_detail_reports_path(:userid=>user),:remote=>"true",:method=>:post
    %td{:width=>"480px",:align=>"left",:style=>"vertical-align:none;"}
      #userdetail{:style=>"width:480px;height:400px;vertical-align:none;"}
        %table.GridTable{:width=>"100%",:style=>"vertical-align: none;"}
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td Name
            %td= @users.first.name
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td Age
            %td= Date.today.year - @users.first.birthday.year
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td Sex
            %td= @users.first.gender
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td Email
            %td= @users.first.email
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td Friends
            %td= friend_count(@users.first)
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td City
            %td= @users.first.city
          %tr{:class => cycle(:odd, :even, :name => 'zebra_stripes')}
            %td State
            %td= @users.first.state