= stylesheet_link_tag 'movies_styles', 'gallery_styles','jquery-custom', 'jquery-custom-reset'
= stylesheet_link_tag 'ie9-hacks'
= javascript_include_tag 'lib/wysiwyg'

= include_styles_for(@movie)


= semantic_form_for [:admin, @studio, @movie], :html => {:multipart => true} do |f|
  = f.inputs do
    = f.input :title
    = f.input :price
    = f.input :director
    = f.input :lead_actors
    = f.input :year_released, :as => :date
    = f.input :MPAA_rating, :label => "MPAA Rating"
    = f.input :running_time
    
    (For free, enter zero)
    = f.input :facebook_fan_page_url, :input_html => {:type => "notUrl"}
    - if @studio.is_warner?
      = f.input :cdn_path
      = f.input :video_file_path
    - elsif @studio.is_milyoni?
      = f.input :video_file_path
      = f.input :original_video_link
      = f.input :subtitled_video_link
      = f.input :dubbed_video_link
    - elsif @studio.is_brightcove?
      - if @series
        = f.input :brightcove_movie_id, :value => 000, :as => 'hidden'
      - else
        = f.input :brightcove_movie_id, :label => 'Brightcove movie ID'
    = f.input :rental_length
    = f.input :twitter_share_text, :input_html => {:rows => "7"}
    = f.input :facebook_share_text, :input_html => {:rows => "7"}
    = f.input :fb_comments_color, :collection => ['light', 'dark'], :include_blank => false
    = f.input :font_color_help, :input_html => {:class => "colorpicker"}

    = f.input :button_color_gradient_1, :input_html => {:class => "colorpicker"}
    %span#watch_now_button_preview
      %a.butWatch#payButton{} Watch Now
    = f.input :button_color_gradient_2, :input_html => {:class => "colorpicker"}
    = f.input :popup_bk_color_1, :input_html => {:class => "colorpicker"}
    = f.input :popup_bk_color_2, :input_html => {:class => "colorpicker"}
    = f.input :description
    = f.input :pay_dialog_title
    = f.input :action_box_top
    = f.input :action_box_left
    = f.input :feed_dialog_link
    = f.input :discount_redirect_link
    = f.input :linter_url
    = f.input :feed_dialog_name
    = f.input :feed_dialog_caption
    = f.input :released
    = f.input :age_restricted
    = f.input :rental_badge
    = f.input :new_release
    = f.input :badge_number
    = f.input :badge_text
    = f.input :genre, :collection => @studio.genre_list
    .navTabContent
      %h2 Block Settings.
      = f.input :fb_likers_enabled
      = f.input :top_clips_enabled
      = f.input :top_quotes_enabled
      = f.input :top_bestsellers_enabled
    - if @series
      = f.input :serial, :as => 'hidden', :checked => true
    - else
      = f.input :serial

  = f.buttons do
    = f.commit_button "Save &amp; Continue &raquo;".html_safe