%script{:type => "text/javascript"}
  -if !current_admin.studio.present?
    $("a.tn03").addClass("tnOn");
    $("#subnavlist1").hide();
    $("#subnavlist2").hide();
    $("#subnavlist3").hide();
    $("#subnavlist4").hide();
    $("#subnavlist5").hide();
    $("#subnavlist6").hide();
    $("#subnavmovielist1").hide();
    $("#subnavmovielist2").show();
    $("a.sub01").addClass("subOn");
  -else
    $("a.tn03").addClass("tnOn");
    $("#subnavlist1").hide();
    $("#subnavlist2").hide();
    $("#subnavlist3").hide();
    $("#subnavlist4").hide();
    $("#subnavlist5").hide();
    $("#subnavlist6").hide();
    $("#subnavmovielist1").hide();
    $("#subnavmovielist2").show();
    
    
%script{:type => "text/javascript"}
  
- content_for :breadcrumbs do
  :erb
    <%= breadcrumbs(["Studios Home", [:admin, Studio]],
                    ["#{ @studio.name } Home", [:admin, @studio, Movie]],
                    (@movie.serial ? "Edit Series - #{@movie.title}" : "Edit Movie - #{@movie.title}")).html_safe %>


=#render :partial => 'admin/shared/movie_tabs'

.clear

.navTabContent
  - if @movie.serial
    %h1 Edit Series - #{@movie.title}
  - else
    %h1 Edit Movie - #{@movie.title}

  %hr{:class => "greenBar"}
  %br
  = render 'form'


