= semantic_form_for [:admin,@studio,@movie,@stream] do |f|
  = f.inputs do
    = f.input :url
    = f.input :bitrate
    = f.input :width
    = f.input :height
  = f.buttons do
    = f.commit_button "Save".html_safe
    %a{:href => new_admin_studio_movie_stream_path(@studio,@movie), :class => 'butTextBlue'}Cancel
