%script{:type => "text/javascript"}
  $("a.tn01").addClass("tnOn");
  $("a.tn02").removeClass("tnOn");
  $("a.tn03").removeClass("tnOn");
  $("a.tn04").removeClass("tnOn");
  $("a.tn05").removeClass("tnOn");
  $("a.tn06").removeClass("tnOn");
  $("#subnavlist2").hide();
  $("#subnavlist3").hide();
  $("#subnavlist4").hide();
  $("#subnavlist5").hide();
  $("#subnavlist6").hide();
  
%ul.navTabs
  %li
    = link_to "Settings", edit_admin_studio_movie_path(@studio, @movie), :class => "tabOn"
  %li
    = link_to "Images", edit_admin_studio_movie_skin_path(@studio, @movie)
  %li
    = link_to "Moderation", edit_admin_studio_movie_comments_path(@studio, @movie)
  %li
    = link_to "Movie configuration", edit_admin_studio_movie_path(@studio, @movie)
    
%h1 Listing streams

%table.gridTable
  %tr
    %th Movie
    %th Url
    %th Bitrate
    %th Width
    %th Height
    %th
    %th
    %th

  - @streams.each do |stream|
    %tr
      %td= stream.movie_id
      %td= stream.url
      %td= stream.bitrate
      %td= stream.width
      %td= stream.height
      %td= link_to 'Edit', edit_admin_studio_movie_stream_path(@studio,@movie,stream.id)
      %td= link_to 'Destroy', admin_studio_movie_stream_path(@studio,@movie,stream), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stream', new_admin_studio_movie_stream_path(@studio,@movie)
