%p#notice= notice

%p
  %b Movie:
  = @stream.movie_id
%p
  %b Url:
  = @stream.url
%p
  %b Bitrate:
  = @stream.bitrate
%p
  %b Width:
  = @stream.width
%p
  %b Height:
  = @stream.height

= link_to 'Edit', edit_stream_path(@stream)
\|
= link_to 'Back', streams_path
