%script{:type => "text/javascript"}
  -if !current_admin.studio.present?
    $("a.tn02").addClass("tnOn");
    $("#subnavlist1").hide();
    $("#subnavlist2").hide();
    $("#subnavlist3").hide();
    $("#subnavlist4").show();
    $("#subnavlist5").hide();
    $("#subnavlist6").hide();
    $("a.sub01").addClass("subOn");
  -else
    $("a.tn01").addClass("tnOn");
    $("#subnavlist1").hide();
    $("#subnavlist2").hide();
    $("#subnavlist3").hide();
    $("#subnavlist4").show();
    $("#subnavlist5").hide();
    $("#subnavlist6").hide();
    $("#subnavmovielist1").hide();
    $("#subnavmovielist2").hide();
    $("a.sub01").addClass("subOn");
%p= link_to "Back", [:admin, @movie.studio, Movie]


%h1 Report for #{@movie.title}

%hr{:class => "greenBar"}
%br

%p Lifetime Orders: #{@report[:cumulative_orders]}
%p Lifetime Purchase Page Visits: #{@report[:cumulative_visits]}
%p Lifetime Watch Page Visits: #{@report[:cumulative_watches]}
%p Lifetime Revenue: #{@report[:cumulative_revenue]}
%p Lifetime Conversion Rate: #{ decimal_ratio_to_percentage(@report[:cumulative_conversion])  }

%p Today's Orders: #{@report[:todays_orders]}
%p Today's Purchase Page Visits: #{@report[:todays_visits]}
%p Today's Watch Page Visits: #{@report[:todays_watches]}
%p Today's Revenue: #{@report[:todays_revenue]}
%p Today's Conversion Rate: #{ decimal_ratio_to_percentage(@report[:todays_conversion])  }
