#subnavbar{:class=>"clearfix"}
  #subnavlist2
    %ul
      %li
        = link_to "Movie Metrics", admin_studio_movie_metrics_reports_path(current_admin.studio), :class =>  "sub01"
      %li
        = link_to "Sales Report", admin_studio_sales_reports_path(current_admin.studio), :class =>  "sub02"
      - if current_admin.reporting_only?
        %li
          = link_to("Users", admin_studio_users_path(current_admin.studio), :class => "sub04") 
        %li
          = link_to("Movies Report", admin_studio_reports_movies_path(current_admin.studio), :class =>  "sub05") 
        %li
          = link_to("Tax Report", admin_studio_reports_tax_report_path(current_admin.studio), :class => "sub06")
  
  -if @studio and @studio.id!=nil      
    #subnavlist4
      %ul
        %li
          = link_to "Movies", admin_studio_movies_path(@studio), :class =>  "sub01"
        %li
          = link_to "Series", admin_studio_series_index_path(@studio), :class =>  "sub02"
        - if current_admin.reporting_only?
          %li
            = link_to("Users", admin_studio_users_path(@studio), :class => "sub03") 
          %li
            = link_to("Movies Report", admin_studio_reports_movies_path(@studio), :class =>  "sub04") 
          %li
            = link_to("Tax Report", admin_studio_reports_tax_report_path(@studio), :class => "sub05") 
        %li
          = link_to "Branding", edit_admin_studio_branding_path(@studio), :class => "sub07"
        %li
          = link_to "View Admins", admin_studio_admins_path(@studio), :class =>  "sub08"

          
  #subnavlist5
    %ul
      %li
        = link_to("Documentation", documentation_supports_path, :class=>"sub01")
      %li
        = link_to("Faqs", faqs_supports_path, :class=>"sub02")
      %li
        = link_to("Tutorials", tutorial_supports_path, :class=>"sub03")
      %li
        = link_to("Contact-Us", contactus_supports_path, :class=>"sub04")
  
  = render :partial => 'layouts/subnav'
